@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Urbanist", sans-serif; */
}
:root{
    --primary:  #0B7077;
    --secondary:#fd661f;
}

header {
    background: #d2e6e4 url('assests/Group236.png') center center no-repeat;
    background-size: cover;
    padding: 20px 50px;
    padding-bottom: 0 !important;

}

#nav {
    display: flex;
    align-items: center;
    gap: 20px 40px;
    justify-content: space-around;
    padding: 20px;
    font-family: "Raleway", sans-serif;


}

#menu ul {
    list-style: none;
    display: flex;
    gap: 10px 50px;
    font-weight: 700;
    font-size: 14px;
}

#menu ul li:nth-child(1) {
    color: #FD661F;
    font-weight: 700;
}

.btn-group {
    display: flex;
    gap: 20px;
}

.btn-group button {
    color: #0B7077;
    padding: 14px 20px;
    border-radius: 10px;
    border: none;
    background: #fff;
}

.btn-group button:nth-child(2) {
    background: #0B7077;
    color: #fff;
    padding: 14px 20px;
    border-radius: 10px;
    border: none;
}

#hero {
    display: flex;
}

.never {
    background: #fff;
    padding: 10px;
    font-family: "Raleway", "sans-serif";
    font-weight: 500;
    border-radius: 15px;
    width: 30%;
    text-align: center;
}

#left-hero {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

#left-hero .text {
    font-family: "Raleway", "sans-serif";
    font-size: 65px;
    font-weight: bolder;
    width: 100%;
    color: #0b7077;
}

.left-hero-footer button {
    padding: 12px 16px;
    width: 25%;
    margin-right: 20px;
    background: #FD661F;
    color: white;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
}

.left-hero-footer {
    margin-top: 20px;
    display: flex;
}
.calendar-box{
    display: flex;
    gap: 15px;
    font-family: "Nunito Sans","sans-serif";
    background: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 15px;
    position: absolute;
    /* bottom: 100px; */
    top: 150px;
}
#state{
    position: absolute;
    top: 150px;
    right: 20px;
}
.calendar-box h2{
    font-size: 24px;
    font-weight: bold;
    color: #595959;
}
#right-hero {
    position: relative;
    /* background: url() no-repeat center right; */
}
#main-content{
    margin: 50px;
}
#main-content >h1{
    color: var(--secondary);
    font-size: 48px;
    font-family: "Inter";
}
#main-content .list ul{
    margin-top: 20px;
    display: flex;
    list-style: none;
    gap: 20px 30px;
    justify-content:   center;
}
#main-content .list ul li{
    background: white;
    padding: 10px 20px;
    color: var(--primary);
    border-radius: 30px;
    border: 1px solid gray;
    font-family: "Urbanist";
    font-weight: bold;
    font-size: 14px;
}
#main-content .list ul li:nth-child(1){
    background: var(--primary);
    color: white;
}
.card-section{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.card-section .card {
    /* width: 20%; */
    width: 21%;
    background: #fff;
    box-shadow: #d2e6e4 0 0 10px;
    border-radius: 20px;
}
.card-section .card .card-img img{
    border-radius: 10px 10px 0 0  ;
}
.card-section .card .card-eng p{
    font-weight: 500;
    font-family: "Urbanist";
}
.card-section .card .card-eng{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    border-radius: 20px;
    width: 80%;
    margin:  auto;
    margin-top: -30px;
    padding: 15px 10px;
    z-index: 222222222222;
    position: relative;
}
.card-section .card .card-title h2{
    font-size: 16px;
    font-weight:  900;
    font-family: "Raleway";
    color: var(--primary);
    margin: 10px auto;
}
.card-section .card .card-content p{

    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    font-family: "Raleway";
    padding: 0;
}
.card-section .card .card-footer button{
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background: var(--primary);
    color: white;
}
.card-section .card .card-footer p span{
    color: gray;
    text-decoration: line-through;
}
.card-section .card #card-content{
    padding: 14px;
}
.card-section .card .card-footer p{
    display: flex;
    font-weight: bold;
    color: var(--secondary);
    font-family: "Urbanist";
    font-size: 18px;
    gap: 10px;
}
.card-section .card .card-footer{
    display: flex;
    gap: 10px 30px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}