@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: #d2e6e4;
}
#nav{
    display: flex;
    align-items: center;
    gap: 20px 40px;
    justify-content: space-around;
    padding: 20px;
}
#menu ul{
    list-style: none;
    display: flex;
    gap: 10px 50px;
}